<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="GraphConfigFile" value="GraphConfig.json" />
    <add key="MaxTasks" value="5" />
    <add key="endpoint" value="https://gremlin-demo.documents.azure.com:443/" />
    <add key="authKey" value="F53ZnNpivkkGmEPt5VTuppUpMDBE60sZlqeZJG4vYDNTTSbyrmnAcPSSOWJkaPUQ3402qSAJ2zOVLMIrvazE3Q==" />
    <add key="database" value="graphdb" />
    <add key="collection" value="SalesGraph" />
    <add key="ErrorLogPath" value="..\..\..\..\GraphData\Error.log" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net>
</configuration>